/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
    background-color: white;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
  }
  
  a:hover {
    color: #37a1f7;
  }
  
  /* Navbar */
  #navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
  }
  
  #navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #nav-links {
    display: flex;
    gap: 1rem;
  }
  
  /* conteúdo principal */
 
   body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    align-content: center;
    align-items: center;
   } 
  .container {
    display: flex;
    padding: 2rem 2.5rem;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #posts-container {
    flex: 3 1 0;
  }
  
  .post {
    margin-bottom: 2.5rem;
  }
  
  .post img {
    width: 60%;
    margin-bottom: 1rem;
  }
  
  .title,
  .description,
  .author {
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .author {
    color: #333;
    font-weight: bold;
  }

  
  .carousel-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem; 
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center; /* Adicionado para centralizar as imagens */
    
}

  .carousel img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Adiciona transição suave */
  }

  .carousel img:hover {
    transform: scale(1.1);
  } 

  p + .carousel {
    margin-top: 3rem; /* Adiciona espaçamento superior ao carrossel */
}

  

  
  
  
  /* Rodapé */
  #footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
  }
  
  #footer h2,
  #footer p {
    margin-bottom: 1rem;
  }
  
  /* Responsivo */
  @media (max-width: 450px) {
    .container {
      flex-wrap: wrap;
    }

    .carousel img {
      max-width: 100%; /* Garante que as imagens ocupem a largura total em telas pequenas */
  }

   
  }